/* Style Menu */

.results {
    text-align: end;
    color: #f26c4f;
    font-size: 2.5em;
    display: flex;
    justify-content: flex-end;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 30px;
    /* border: 1px solid black; */
    flex-grow: 1;
}

.nav img {
    width: 70px;
    margin-left: 2rem;
    margin-right: 1rem;
}

.brand {
    color: #fff;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-size: 2rem;
}

.nav ul {
    list-style: none;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    flex-grow: 2;
}

.nav-item {
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
}

.item {
    font-weight: 100;
    font-size: 1.2rem;
}

.item:hover {
    border-bottom: 1px solid #e9f2f9;
}

.register {
    border: 2px solid #f26c4f;
}

.register:hover {
    border: 2px solid #e9f2f9;
}

/* Style Menu */

/* Style Home */

.menu-left {
    display: flex;
    flex-direction: column;
    border-radius: 1px;
    align-self: baseline;
}



/* Style Home */

/* Style User */


.street-text {
    font-size: 1.3em;
}

.line {
    width: 85%;
    border-bottom: 1px solid #f26c4f;
}

.line-2 {
    width: 85%;
    border-bottom: 3px solid #f26c4f;
}

.rooms {
    width: 100px;
    max-width: auto;
    height: 20px;

    color: #fff;
    background-color: #f26c4f;
    border-radius: 10px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 5px;
    font-size: .8rem;
}

.rooms-row {
    display: flex;
    flex: 2;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-end;
}

.app-home {
    align-items: flex-start !important
}

/* Style User */


.col {
    flex-direction: column !important;
}

.title-1 {

    font-size: 1.4rem;
}

.title-2 {
    font-size: 1.2rem;
}

.title-3 {
    font-size: .900rem;
}

.box-img {
    width: 750px;
    height: 250px;
}

.box-img img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}