/* 
 azul claro: #e9f2f9
 laranja: #1b325f
 azul escuro: #f26c4f
*/
/* colors */
.bg-classic {
    background-color: #1b325f;
}

body {
    background-color: #e9f2f9;
}


body,
p {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

#app {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 40px;
    min-height: 100%;
    margin-bottom: 60px;
}

.container {
    width: 90vw;
    max-width: 1200px;
    display: flex;
}

.row {
    display: flex;
    flex-direction: row;
}


footer,
.page-wrap:after {
    height: 80px;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    font-size: 1em;
    width: 100%;
    height: 80px;
    color: #fff;
}

.github-link {
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* Card-properties */
.card {
    display: flex;
    flex-flow: row wrap;
    flex: 2;
    height: 200px;
    border: 1px solid #9cc4e4;
    border-radius: 10px;
}

.card-text {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    overflow: hidden;
    -webkit-box-orient: vertical;
}

.card img {
    flex: 1;
    max-width: 400px;
    height: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.card .informations {
    flex: 2;
    height: 100%;
    /* border: 1px solid black */
}

/* Card-properties */

/* defaults */
.pointer {
    cursor: pointer;
}

.line {
    align-self: center;
    width: 95%;
    border-bottom: 1px solid #9cc4e4;
}

.btn {
    width: 100px;
    height: 40px;
    background-color: #00000000;
    border-radius: 0.4rem;
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-size: 0.9em;
}

.input-text {
    height: 40px;
    padding: 10px;
    border: 1px solid #9cc4e4;
    font-size: 1em;
    border-radius: 0.4rem;
}

.input-text:focus {
    outline: none;
    border: none;
}

/* text properties*/
.text-size-1 {
    font-size: 1.4rem;
}

.text-size-2 {
    font-size: 1.8rem;
}

.text-center {
    text-align: center;
}

.text-color {
    color: #1b325f;
}

/* text properties */


/* border properties */
.border-left-blue {
    border-left: 1px solid #9cc4e4;
}

.border-bottom-blue {
    border-bottom: 1px solid #9cc4e4;
}

.border-1 {
    border: 1px solid black;
}

/* border properties */

/* margin properties */
.mg-1 {
    margin: 0.5rem;
}

.mg-2 {
    margin: 2rem;
}

.mg-l-1 {
    margin-left: 1rem;
}

/* margin properties */

.padding-1 {
    padding: 1.2rem;
}

.padding-2 {
    padding: 2.2rem;
}


/* flex properties */
.flex-1 {
    flex: 1;
}

.flex-2 {
    flex: 2;
}

/* flex properties */